<%= form_for(@institution) do |f| %>

  <% if @institution.errors.any? %>
    <div class="alert alert-danger">
      <strong><%= pluralize(@institution.errors.count, 'error') %> prohibited this institution from being saved:</strong>

      <ul>
      <% @institution.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, '*Name' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :address, 'Address' %>
    <%= f.text_area :address, class: 'form-control', rows: 4 %>
  </div>

  <div class="form-group">
    <%= f.label :phone, 'Phone' %>
    <%= f.text_field :phone, class: 'form-control', type: 'phone' %>
  </div>

  <div class="form-group">
    <%= f.label :api_key, 'API Key' %>
    <%= f.text_field :api_key, class: 'form-control' %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>

<% end %>
