<h1>Institutions</h1>

<div class="table-responsive">
  <table class="table">
    <thead class="thead-default">
    <tr>
      <th>Name</th>
      <th>Contacts</th>
      <th colspan="4"></th>
    </tr>
    </thead>

    <tbody>
    <% @institutions.each do |institution| %>
        <tr>
          <td><%= link_to institution.name, institution_alma_api_sandbox_path(institution) %></td>
          <td><%= link_to institution.contacts.length, institution_contacts_path(institution) %></td>
          <td><%= link_to 'Add Contact', new_institution_contact_path(institution) %></td>
          <td><%= link_to 'Show', institution %></td>
          <td><%= link_to 'Edit', edit_institution_path(institution) %></td>
          <td><%= link_to 'Destroy', institution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'Add Institution', new_institution_path, class: 'btn btn-outline-primary' %>
