<h1>Integration Configurations</h1>

<div class="table-responsive">
  <table class="table">
    <thead class="thead-default">
    <tr>
      <th>Institution</th>
      <th>Integration</th>
      <th colspan="4"></th>
    </tr>
    </thead>

    <tbody>
    <% @integration_configs.each do |integration_config| %>
        <tr>
          <td><%= link_to integration_config.institution.name, institution_path(integration_config.institution) %></td>
          <td><%= link_to integration_config.integration.name, integration_path(integration_config.integration) %></td>
          <td><%= link_to 'Show', integration_config %></td>
          <td><%= link_to 'Edit', edit_integration_config_path(integration_config) %></td>
          <td><%= link_to 'Destroy', integration_config, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'Add Integration Config', new_integration_config_path, class: 'btn btn-outline-primary' %>
