<%= form_for([@institution, @contact]) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>
      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :first_name, '*First Name' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :first_name, '*Last Name' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :address1, 'Address' %>
    <%= f.text_field :address1, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :address2, 'Address (Line 2)' %>
    <%= f.text_field :address2, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :city, 'City' %>
    <%= f.text_field :city, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :state, 'State' %>
    <%= f.text_field :state, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :zip, 'Zip Code' %>
    <%= f.text_field :zip, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :branch_campus, 'Branch Campus' %>
    <%= f.text_field :branch_campus, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :phone, 'Phone' %>
    <%= f.text_field :phone, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :email, 'Email' %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
