<p id="notice"><%= notice %></p>

<h1>Listing Contacts for <%= @institution.name %></h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= link_to 'Show', institution_contact_path(@institution, contact) %></td>
        <td><%= link_to 'Edit', edit_institution_contact_path(@institution, contact) %></td>
        <td><%= link_to 'Destroy', institution_contact_path(@institution, contact), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Contact', new_institution_contact_path(@institution) %>
