<h1><%= @contact.name %></h1>

<h3>Contact for <%= link_to(@institution.name, @institution) %></h3>

<p>
  <strong>First Name: </strong> <%= @contact.first_name %>
</p>
<p>
  <strong>Last Name: </strong> <%= @contact.last_name %>
</p>
<p>
  <strong>Email: </strong> <%= @contact.email %>
</p>
<p>
  <strong>Address: </strong> <%= @contact.address %>
</p>
<p>
  <strong>Address (Line 2): </strong> <%= @contact.address2 %>
</p>
<p>
  <strong>City: </strong> <%= @contact.city %>
</p>
<p>
  <strong>State: </strong> <%= @contact.state %>
</p>
<p>
  <strong>Zip: </strong> <%= @contact.zip %>
</p>
<p>
  <strong>Phone: </strong> <%= @contact.phone %>
</p>

<%= link_to 'Edit', edit_institution_contact_path(@institution, @contact) %> |
<%= link_to 'Back', institution_contacts_path(@institution) %>
