<%= form_for(@book_price) do |f| %>
  <% if @book_price.errors.any? %>
    <div class="alert alert-danger">
      <strong><%= pluralize(@book_price.errors.count, "error") %> prohibited this book_price from being saved:</strong>

      <ul>
      <% @book_price.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :price, 'Price' %><br>
    <%= f.number_field :price, class: 'form-control' %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>

<% end %>
