<h1>Book Prices</h1>

<div class="table-responsive">
  <table class="table">
    <thead class="thead-default">
    <tr>
      <th>LC Start</th>
      <th>LC End</th>
      <th>Description</th>
      <th>Price</th>
      <th>Last Updated</th>
    </tr>
    </thead>

    <tbody>
    <% @book_prices.each do |book_price| %>
        <tr>
          <td><%= book_price.lc_start %></td>
          <td><%= book_price.lc_end %></td>
          <td><%= book_price.description %></td>
          <td><%= link_to number_to_currency(book_price.price), edit_book_price_path(book_price) %></td>
          <td><%= book_price.updated_at.to_formatted_s :short %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
